/* Estilo global
 * Este arquivo será inserido em todas as páginas
 * As variáveis podem ser utilizadas em arquivos [lang=sass] e [lang=scss]
 */

@import "main_style";

h1 {
	margin-bottom: 20px;

	span {
		color: $green;
	}
}

p {
	margin-bottom: 10px;
}

a {
	color: $green;
	text-decoration: none;
	border-bottom: 1px dashed $green;
	padding-bottom: 5px;
}