@import "./vars";

html,
body {
	font-family: $font;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


a {
  color: $green;

  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px dashed $green;
}

p {
  margin: 10px 0;
}

h1 {
  margin-bottom: 20px;
}
